form label{
    display: block;
    font-family: 'Roboto';
    font-size: 1.5em;
    color: rgb(92, 90, 90);
}

form input {
  border: 2px solid #ccc;
  background-color: #f8f8f8;
}

.newsText{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.addNews{
  display: block;
  border: 1px solid #fff;
  font-style: 'Roboto';
  color: #fff;
  border-radius: 12px;
  background-color: #04df5f;
  padding: 12px;
  margin: 1em auto;
  transition: font-size 1s, padding 1s;
}

.addNews:hover{
  color:  #04df5f;
  background-color: #fff;
  border: 2px solid #04df5f;
  padding: 15px;
  font-size: 1em;
}

.itemBox{
  border: 1px solid black;
  margin: 2rem;
}

.itemBox > a{
  text-decoration: none;
  color: rgb(95, 94, 94);
}